html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}
.customscroll {
  overflow-x: hidden;
  overflow-y: auto;
  /* scrollbar-width: thin; */
  scrollbar-color: red !important;
}
.customscroll::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: red;
}
